<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test10</display-name>
 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>week10</servlet-name>
	  <jsp-file>/check_jsp.jsp</jsp-file>
	  <init-param>
		  <param-name>secret</param-name>
		  <param-value>123</param-value>
	  </init-param>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>week10</servlet-name>
	  <url-pattern>/check_jsp.jsp</url-pattern>
  </servlet-mapping>
</web-app>